In [1]:
# Cross-Validation for KNN

In [2]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#import the scikit-learn KNeighborsClassifier, the train_test_split() function for splitting the data into training and test sets,
#and the metric accuracy_score to evaluate our model.

In [6]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [12]:
df = pd.read_csv(r"C:\Users\1039744\Desktop\Python practice\Dataset ecornell.csv")

In [13]:
#Create Labeled Examples
#Gets the Churn column from DataFrame df and assigns it to the variable y. This is our label
#Gets all other columns from DataFrame df and assigns them to the variable X. These are our features

In [14]:
y = df['Churn']
X = df.drop(columns = 'Churn', axis=1)

In [15]:
#Split Examples Into Training and Test Sets

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=1234)

In [17]:
print(X_train.shape)
print(X_test.shape)

(934, 85)
(104, 85)

In [18]:
X_train.head()

,CustomerID,ChildrenInHH,HandsetRefurbished,HandsetWebCapable,TruckOwner,RVOwner,HomeownershipKnown,BuysViaMailOrder,RespondsToMailOffers,OptOutMailings,...,Occupation_Homemaker,Occupation_Other,Occupation_Professional,Occupation_Retired,Occupation_Self,Occupation_Student,Married_False,Married_True,Married_nan,Unnamed: 85
919,3,False,False,False,True,False,False,True,True,True,...,1,1,1,0,0,1,0,1,1,1
938,3,False,False,False,True,False,False,True,True,True,...,0,0,0,0,1,0,1,1,1,1
801,3,False,False,False,True,False,False,True,True,True,...,0,1,1,0,0,0,1,0,0,0
207,3,False,False,False,True,False,False,True,True,True,...,0,1,0,0,0,0,1,0,1,1
693,3,False,False,False,True,False,False,True,True,True,...,1,1,1,1,0,1,0,1,1,1

In [21]:
#Fit a KNN Classifier and Perform k-Fold Cross-Validation
#k-fold cross-validation splits training data into equally sized subsets, or folds (k). We train and test 'k' times, such that each time, 
#we train on k-1 training folds and test on 1 validation fold. Therefore, every fold will have a chance to serve as a validation set. 
#We then average the resulting accuracies obtained on each of the k iterations to determine the accuracy of the model.

# using the scikit-learn KNeighborsClassifier class, create a KNN model object with a hyperparameter ùëò value of 3 (3 nearest neighbors)

In [22]:
model = KNeighborsClassifier(n_neighbors=3)

In [23]:
#use scikit-learn's KFold class. This class helps us partition our training data set into k folds

In [24]:
from sklearn.model_selection import KFold

In [25]:
#We use KFold to partition our training data (X_train and y_train) into 5 folds: KFold separates our training data into 5 subsets of rows.
#We then train our KNN model on each subset and evaluate its performance. 
#Therefore, we will train and evaluate our KNN model for a total of 5 times - once per data subset.

In [26]:
num_folds = 5
folds = KFold(n_splits = num_folds, random_state=None)

acc_scores = []

for train_row_index , test_row_index in folds.split(X_train): 
    
    # our new partition of X_train and X_val
    X_train_new  = X_train.iloc[train_row_index] 
    X_val = X_train.iloc[test_row_index]
    
    # our new partition of y_train and y_val
    y_train_new = y_train.iloc[train_row_index]
    y_val = y_train.iloc[test_row_index]
    
    model.fit(X_train_new, y_train_new)
    predictions = model.predict(X_val)
     
    iteration_accuracy = accuracy_score(predictions , y_val)
    acc_scores.append(iteration_accuracy)
     
        
for i in range(len(acc_scores)):
    print('Accuracy score for iteration {0}: {1}'.format(i+1, acc_scores[i]))

avg_scores = sum(acc_scores)/num_folds
print('\nAverage accuracy score: {}'.format(avg_scores))

Accuracy score for iteration 1: 1.0
Accuracy score for iteration 2: 1.0
Accuracy score for iteration 3: 0.9946524064171123
Accuracy score for iteration 4: 0.9946524064171123
Accuracy score for iteration 5: 0.9946236559139785

Average accuracy score: 0.9967856937496407

In [27]:
#Scikit-Learn's cross_val_score Approach
#This is the cross_val_score() function. It allows you to specify the number of folds 'k'.
#It automatically and repeatedly subsamples the training and validation sets out of the 
#initial training data and computes the accuracy scores when testing on these validation sets.

In [28]:
from sklearn.model_selection import cross_val_score

In [29]:
#cross_val_score() function to perform a 5-fold cross-validation for our KNN model and obtain a list of accuracy scores

In [30]:
# Use function cross_val_score() to perform 5-fold cross-validation on the training data and 
# save the result to variable accuracy_scores
print('Running Cross-Validation...')

# Perform 5-fold cross-validation
accuracy_scores = cross_val_score(model, X_train, y_train, cv=5)

print('Done')

# Print the accuracy scores
print('Accuracies for the five training/test iterations on the validation sets:')
print(accuracy_scores)

Running Cross-Validation...
Done
Accuracies for the five training/test iterations on the validation sets:
[1.         0.99465241 0.99465241 0.99465241 1.        ]

C:\Users\1039744\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:811: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(